<div class="main">
    <!-- <div  class="header">
        <nav>
            <img src="../../assets/img4.jfif" alt="">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Service</a></li>
            </ul>
        </nav>
    </div> -->
    <div class="image">
        <img src="../../assets/img5.jfif" alt="" style="width:300px ; height:380px ;border-radius: 10px;">
           
        <img src="../../assets/img5.png" alt="" style="width:300px ; height:380px ;border-radius: 10px;">
    
        <img src="../../assets/img6.jpg" alt=""  style="width:300px ; height:380px ;border-radius: 10px;">
    </div>
    <div class="content">
        <h1>ABOUT</h1>
        <p>Gadgeon in the last 10+ years partnered with over 70 customers with successful deployment of more than 170 projects across USA, Europe, and APAC. Over the years, we have been identified for quality and engineering excellence. We serve Enterprises, ISVs, Product companies, </p>
    </div>
    
    </div>
