<div class="main">
    <!-- <div  class="header">
        <nav>
            <img src="../../assets/img4.jfif" alt="">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Service</a></li>
            </ul>
        </nav>
    </div> -->
    <div class="form">
       <label for=""><h3>NAME</h3></label>
       <input class="name" type="text" placeholder="Enter Your Name"><br>
       <label for=""><h3>EMAIL</h3></label>
       <input class="email" type="email" placeholder="Enter Your Email"><br>
       <label for=""><h3>CONTACT</h3></label>
       <input class="contact" type="number" placeholder="Enter Your Phone Number"><br>
       <label for=""><h3>FEEDBACK</h3></label>
       <input class="feedback" type="text" placeholder="Enter Feedback"><br>
       <button>SEND</button>
    </div>
    <div class="content">
        
    </div>
    
    </div>
