<div class="main-container" id="main">
  <div class="nav-container-fluid">
      
      <ul class="navbar nav" id="nav">
        <li><img src="../assets/img4.jfif" alt="" style="width: 200px;"></li>
        <li><a class="active nav-item" routerLink="Home"><h3>Home</h3></a></li>
        <li><a class="nav-item" routerLink="About"><h3>About</h3></a></li>
        <li><a class="nav-item" routerLink="Service"><h3>Service</h3></a></li>
        <li><a class="nav-item" routerLink="Contact"><h3>Contact</h3></a></li>
        
      </ul>
    </div>
  </div>
  <div class="component-container">
<!-- <app-home></app-home>
<app-about></app-about>
<app-contact></app-contact>
<app-services></app-services> -->
<router-outlet></router-outlet>
</div>